{% include 'header.html' %}

<main role="main">
    <div class="container col-auto">
        <span class="text-center"><h2>Vehicle seeking your companionship</h2></span>
        <form method="post" class="form" action="vehicles/save">
            {% csrf_token %}
            <div class="form-group">
              <label for="vendor">Vendor:</label>
              <input type="text" id="vendor" name="vendor" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" id="model" name="model" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="type">Type:</label>
              <select id="type" name="type" class="form-control" required>
                <option value="">Select the vehicle chasis type</option>
                <option value="sedan">Sedan</option>
                <option value="suv">SUV</option>
                <option value="truck">Truck</option>
              </select>
            </div>
          
            <div class="form-group">
              <label for="capacity">Capacity:</label>
              <input type="number" id="capacity" name="capacity" class="form-control" value="2" required>
            </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
    </div>
</main>